attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
clickclick==20.10.2
connexion==2.14.2
dominate==2.9.1
Flask==2.0.3
Flask-Bootstrap==3.3.7.1
idna==3.10
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
numpy==2.1.3
packaging==24.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.21.0
setuptools==75.4.0
six==1.16.0
swagger-ui-bundle==0.0.9
tzdata==2024.2
urllib3==2.2.3
visitor==0.1.3
Werkzeug==2.0.3
